%tr
  %th
    = link_to '', '?reset=true', class: 'glyphicon glyphicon-remove-circle red', remote: true
  %th
    = link_to_sort('phone')
    = t('.phone')
  %th
    = link_to_sort('first_name')
    = t('.first_name')
  %th